<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Gift voucher</span>
    <span class="example-spacer"></span>
    
     <!--<a mat-raised-button color="accent"  *ngIf="!authService.loggedIn()" routerLink='/register'>Register</a>&nbsp;
    <a mat-raised-button color="accent" *ngIf="!authService.loggedIn()" routerLink='/login'>Login</a>&nbsp;
    
   
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>-->
    <a mat-raised-button color="accent" (click)="authService.logoutUser()">Logout</a> 
    
  </mat-toolbar-row>
