.example-container {
  height: 500px;
  width: 100%;
  overflow: auto;
}
 table {
    width: 800px;
  }
  
 /*  td.mat-column-actions {
    width: 20px;
    padding-right: 8px;
  } */
  td{
    width:100%;
  }
  th{
    width:100%;
  }
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  td.mat-column-name {
    
    border-right: 1px solid rgba(0,0,0,.12);
    background-color:#f8f8f8;
  }
  .mat-table-sticky:first-child {
    border-right: 1px solid rgba(0,0,0,.12);
    background-color:#f8f8f8;
  }
  
  .sticky-customer-name{
    border-right: 1px solid rgba(0,0,0,.12);
    background-color:#f8f8f8;
  }
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;   
  }

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0 7px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right: 1px solid;
    border-right-color: rgba(0,0,0,.12);
}

