.barcodeDisplay{
    width: 250px;
    height: 177px;
    margin: auto;
    box-shadow: 1px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 3px 4px 9px 2px #888888;
    border-radius: 5px;
}