<p>
  account-manager works!
</p>
<div fxLayout="row">
   <!-- <div fxLayout="column">
    <textarea  placeholder="bc-value" [(ngModel)]="value"></textarea>
    <br/>
   <select placeholder="bc-element-type" [(ngModel)]="elementType">
      <option value="svg">svg</option>
      <option value="img">img</option>
      <option value="canvas">canvas</option>
    </select>
    <br/>
    <select placeholder="bc-format" [(ngModel)]="format">
      <option *ngFor="let code of codeList" [value]="code">{{code}}</option>
    </select>
    <input  type="text" placeholder="bc-line-color" [(ngModel)]="lineColor">
    <input  type="number" placeholder="bc-width" [(ngModel)]="width">
    <input  type="number" placeholder="bc-height" [(ngModel)]="height">
    <input type="checkbox" [(ngModel)]="displayValue">bc-display-value
    <input  type="text" placeholder="bc-font-options" [(ngModel)]="fontOptions">
    <input  type="text" placeholder="bc-font" [(ngModel)]="font">
  </div>
  <div fxLayout="column">
    <input  type="text" placeholder="bc-text-align" [(ngModel)]="textAlign">
    <input  type="text" placeholder="bc-text-position" [(ngModel)]="textPosition">
    <input  type="number" placeholder="bc-text-margin" [(ngModel)]="textMargin">
    <input  type="number" placeholder="bc-font-size" [(ngModel)]="fontSize">
    <input  type="text" placeholder="bc-background" [(ngModel)]="background">
    <input  type="number" placeholder="bc-margin" [(ngModel)]="margin">
    <input  type="number" placeholder="bc-margin-top" [(ngModel)]="marginTop">
    <input  type="number" placeholder="bc-margin-bottom" [(ngModel)]="marginBottom">
    <input  type="number" placeholder="bc-margin-left" [(ngModel)]="marginLeft">
    <input  type="number" placeholder="bc-margin-right" [(ngModel)]="marginRight">
  </div> -->
  
</div>
<div fxLayout="column" id="print-section">
  <div *ngFor="let bcValue of barValues" class="barcodeDisplay">
    <div style='clear:both;'>
    <div class='float-left'>{{bcValue.id}}</div>
    <div class='float-right'>{{bcValue.denomination}}</div>
  </div>    
    <ngx-barcode
    [bc-element-type]="img"     
      [bc-value]="bcValue.barcode"      
      [bc-display-value]="displayValue"
      [bc-width]="width" [bc-height]="65" [bc-font-size]="fontSize"
      [bc-format]="format"      
    ></ngx-barcode>
    
      <span class='float-left'>PD: 08-05-2020</span>
      <span class='float-right'>ED: 08-06-2020</span>
    
 </div>
</div>


  
  <button  
    printTitle="MyTitle"  
    [useExistingCss]="true"
    printSectionId="print-section"  
    ngxPrint>print</button>
