<mat-card>
  Login Form
</mat-card>
<br>

<div style="text-align: center;">
  {{message}}
</div>
<br>

<div class="register-form">
<form [formGroup]='loginForm' (ngSubmit)='login()'>

  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName='username' required>
    <mat-error> Please provide Username </mat-error>
  </mat-form-field> 

  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName='password' required>
  </mat-form-field> 
  
  <div class="mt-4">
    <button mat-raised-button color="primary" type="submit" [disabled]='this.loginForm.invalid'>Login</button>&nbsp;&nbsp;
    
  </div>
</form>
</div>
