.barcodeDisplay{
    width: 243px;
    height: 110px;
    margin: auto;
    box-shadow: 1px;
    background-color: white;
    margin-bottom: 20px;
    padding: 5px 10px;
    box-shadow: 3px 4px 9px 2px #888888;
    font-size: 14px;
}
.bcValueleft{
    margin-left: 8px;
    font-size: 13px;
}
.bcValueright{
    margin-right: 8px;
    font-size: 13px;
}